// Font variables
$primaryFontFamily: 'Nunito Sans', sans-serif;
$secondaryFontFamily: 'Josefin Sans', sans-serif; 

// Color variables

$primaryBackgroundColor: #8FC1E3;
$primaryTextColor:#ffe26a;
$accentColor: #16123F;

