// Font variables
$primaryFontFamily: 'Nunito Sans', sans-serif;
$secondaryFontFamily: 'Josefin Sans', sans-serif; 

// Color variables

$primaryBackgroundColor: #8FC1E3;
$primaryTextColor: #fff;
$accentColor: #FFD700;

